*{
  text-align: center;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 145, 0);
  border: 2px solid rgb(0, 140, 255);
  border-radius: 5px;
  margin: 30px 50px;
  padding: 8px;
}

/* Styles the links: recipes liks */
a {
  color: rgb(207, 80, 7);
  font-size: large;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: black;
  color: rgb(255, 94, 0);
}

li {
  list-style: none;
}

h3 {
  color:rgb(0, 140, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid rgb(0, 174, 255);
  margin: 20px 50px 10px;
}

.recipes-links {
  border: 2px solid rgb(255, 166, 0);
  border-radius: 5px;
  margin: 30px 50px;
}
