*{
  text-align: center;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 145, 0);
  border: 2px solid rgb(0, 140, 255);
  border-radius: 5px;
  margin: 30px 50px;
  padding: 8px;
}